
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Globals
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    font-weight: 400;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Template
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
#wrapper {
    width: 100%;
    margin: 0 auto;
}
#main {
    background-color: #fff;
    padding: 30px 0;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Info Bar
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
#info-bar {
    background-color: #f64bbe
}
#info-bar a {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    padding: 10px;
}
#info-bar a:hover {
    background-color: #f64bbe
}
span.all-tutorials,
span.back-to-tutorial {
    display: block;
    width: 50%;
}
span.all-tutorials {
    float: left;
    text-align: left;
}
span.back-to-tutorial {
    float: right;
    text-align: right;
}


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Extras
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Media Queries
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
@media all and (max-width: 600px) { 
    #info-bar a {
        display: block
    }
    span.all-tutorials,
    span.back-to-tutorial {
        width: 100%
    }
    span.all-tutorials,
    span.back-to-tutorial {
        float: none;
        text-align: center;
    }
    span.all-tutorials {
        border-bottom: solid 1px #315a7d
    }
    #title h1 {
        font-size: 20px
    }
    #title h2 {
        font-size: 16px
    }
}
